# Java
*.class
*.jar
*.war
*.ear
*.log
*.lock
*.tmp
*.out
*.iws
*.iml
*.ipr

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
**/build/

# Spring Boot
logs/
*.log
spring.log

# Node.js / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/build
/dist

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating System Files
.DS_Store
Thumbs.db

# Database
*.sql
*.db
*.sqlite
